/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/

:root {
    --background-color: #2A2A2A;
    --text-color: #B0B0B0;
    --stroke-color: #1C1C1C;
    --padding: 12px;
    --border-color: rgba(255, 255, 255, 0.1);
    --accent-color: #3C6CA8;
    accent-color: var(--accent-color);
}

body {
    display: grid;
    grid-template-areas:
        'header header header'
        'layers video controllers';
    grid-template-columns: 240px auto 240px;
    grid-template-rows: 36px auto;

    margin: 0;
    padding: 0;
    width: 99vw;
    height: 99vh;
    overflow: hidden;

    background-color: var(--background-color);
    color: var(--text-color)
}

.area {
    border: var(--stroke-color) 1px solid;
    padding: var(--padding);
}

.area.hidden > * {
    display: none;
}

#controllers {
    grid-area: controllers;
    overflow: scroll;
    max-width: 240px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
}

header * {
    display: flex;
    flex-direction: row;
}

header img {
    height: 10px;
}

main {
    grid-area: video;
}

#videoContainer {
    display: grid;
}

#videoContainer > * {
    grid-area: 1 / 1;
}

canvas {
    display: none;
}

svg * {
    transition: all .1s linear;
}

#layers {
    grid-area: layers;
    overflow: scroll;
}

#layers ul {
    /*margin: 0;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#layers ul li {
    list-style-type: none;
    padding-inline: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    background-color: rgba(255, 255, 255, .1);
}

#layers ul li.layer:hover {
    background-color: rgba(255, 255, 255, .1);
}

#layers ul li.layer.current {
    background-color: rgba(29, 126, 243, 0.3);
    border: 1px solid var(--border-color);
}

#layers ul li button {
    background-color: transparent;
    border: none;
}

#layers ul li button:hover {
    fill: white;
}

button[name="addBtn"] {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
}

button[name="addBtn"]:hover {
    background-color: var(--border-color);
}

h1 {
    margin-top: 0;
    font-size: 1em;
}

fieldset[name="selectType"] {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

fieldset[name="selectType"] img {
    height: 24px;
}

/*button:has(input[name=visBtn]:checked) {
    background-color: #1d7ef3;
}*/

input[name=visType] {
    display: none;
}

/* Play/Pause button */
#playPauseBtn {
    border: 0;
    outline:  0;
    cursor:  pointer;
    padding: 0;
    margin:  0 1%;
    width: 40px;
    height: 40px;
    background-color: #3C6CA8;
}
#playPauseBtn:hover {
    background-color: #1d7ef3;
}
#playPauseBtn.play {
    mask-image: url('img/svg/play.svg');
}
#playPauseBtn.pause {
    mask-image: url('img/svg/pause.svg');
}

fieldset {
    all: unset;
}

#controllers > fieldset,
#properties > fieldset{
    /*margin-block: 4px;*/
    padding-block: 10px;
    /*border-top: var(--border-color) 1px solid;*/
    border-bottom: var(--border-color) 1px solid;
}
fieldset label {
    display: block;
}

.input {
    display: flex;
    align-items: center;
    min-width: 0;
}

input[type="text"] {
    /*all:unset;*/
    background: none;
    /*border: none;*/
    font-size: .9em;
    padding-block: .25em;
    margin-inside: .25em;
    min-width: 0;
}

input[type="text"]:not(:disabled) {
    color: #1d7ef3;
}

/* https://moderncss.dev/custom-select-styles-with-pure-css/ */
select {
    appearance: none;
    margin-block: 2px;
    /*outline: none;*/
    color: inherit;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: transparent;
    display: grid;
}
select::after {
    content: "test";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--border-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

input {
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
}

input:hover {
    border: 1px solid var(--border-color);
}

input:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form[name="controls"] {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}

form[name="controls"] input[name="timestamp"] {
    grid-area: 1 / 1 / 1 / 2;
    justify-self: start;
}
form[name="controls"] #playPauseBtn {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
}
form[name="controls"] input[name="duration"] {
    grid-area: 1 / 3 / 1 / 4;
    justify-self: end;
    text-align: right;
}
form[name="controls"] input[name="progressBar"] {
    grid-area: 2 / 1 / 2 / 4;
    justify-self: stretch;
}

